<div class="columns is-fullheight">
<div class="columns is-multiline">
  <%= render partial: 'food_items/food_item',
             collection: @food_items,
             locals: { show_link: true } %>
</div>
</div>

