<p class="is-size-3 has-text-centered">
<strong>
  Found <%= pluralize(@food_items.count, 'result') %>
  for the search term "<%= params[:search_term] %>".
  </strong>
</p>
<br>
<div class="search-results columns is-multiline">

  <%= render partial: 'food_items/food_item',
             collection: @food_items,
             locals: { show_link: true } %>
</div>