<div class="has-text-right">
  <%=  link_to image_tag("cart.png", width:60), carts_path %>
</div>
<div class="columns">
    <%= render partial: 'food_item',
             object: @food_item,
             locals: { show_link: false } %>
</div>
